In [1]:
# Question 1: Create a list of the 10 elements of four different types of Data Type like int, string, complex and float. 

list1 = [1, 2, "Sharang", "Python", 5.5, 9.0, 4 + 8j, 3 + 2J, True, False]
list1

[1, 2, 'Sharang', 'Python', 5.5, 9.0, (4+8j), (3+2j), True, False]

In [2]:
# Question 2: Create a list of size 5 and execute the slicing structure.

list1 = ['Austin', 'New York', 'Cincinnati', 'Seattle', 'Denver']
list1[:]

['Austin', 'New York', 'Cincinnati', 'Seattle', 'Denver']

In [3]:
list1[1:3]

['New York', 'Cincinnati']

In [4]:
list1[:3]

['Austin', 'New York', 'Cincinnati']

In [5]:
list1[3:]

['Seattle', 'Denver']

In [6]:
list1[1:4:2]

['New York', 'Seattle']

In [7]:
list1[::-1]

['Denver', 'Seattle', 'Cincinnati', 'New York', 'Austin']

In [8]:
# Question 3: Write a program to get the sum and multiply of all the items in a given list.

list2 = [3, 4, 5, 8, 9, 1]

sum(list2)

30

In [9]:
for i in range(len(list2)):
    list2[i] = list2[i] * 2

In [10]:
list2

[6, 8, 10, 16, 18, 2]

In [11]:
# Question 4: Find the largest and smallest number from a given list. 

max(list2)

18

In [12]:
min(list2)

2

In [13]:
# Question 5: Create a new list which contains the specified numbers after removing the even numbers from a predefined list.Â 

list3 = [11, 14, 15, 16, 19, 20, 21, 22, 24, 25]
list4 = []
for i in list3:
    if(i%2 != 0):
        list4.append(i)
    else:
        continue

list4

[11, 15, 19, 21, 25]

In [14]:
# Question 6: Create a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

l = list()
for i in range(1,31):
  l.append(i**2)
print(l[:5]+l[-5:])

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [15]:
# Question 7: Write a program to replace the last element in a list with another list.

list4= [[1,3,5,7,9,10],[2,4,6,8]] 
list5= list4[0][:-1] + list4[1]
list5

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [25]:
# Question 8:  Create a new dictionary by concatenating the following two dictionaries: 

a = {1:10, 2:20}
b = {3:30, 4:40}

a.update(b)
a

{1: 10, 2: 20, 3: 30, 4: 40}

In [30]:
# Question 9: Create a dictionary that contains a number (between 1 and n) in the form(x,x*x). 

num = int(input("num: "))
dict = {}
for i in range(1, num+1):
    dict[i] = i * i

dict

num:  5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [53]:
# Question 10: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:

values = input("Input the numbers : ")
list1 = values.split(",")

print('List : ',list1)

def convert(list1): 
    return (*list1, ) 
 
print('Tuple : ', convert(list1))

Input the numbers :  1,2,3,4

List :  ['1', '2', '3', '4']
Tuple :  ('1', '2', '3', '4')